:root {
  --avatar-size: 100px;
  /* change this value anything, e.g., 100px, 10rem, etc. */
}

.circle {
  margin: 5px;
  border-radius: 50%;
  border: 1px solid grey;
  height: var(--avatar-size);
  text-align: center;
  width: var(--avatar-size);
}

.circle:hover {
  color: darkgray;
  cursor: pointer;
}

h1 {
  margin: 10px !important;
}

h2 {
  margin: 10px !important;
}

.initial {
  font-size: calc(var(--avatar-size) / 2); /* 50% of parent */
  line-height: 1;
  position: relative;
  top: calc(var(--avatar-size) / 4); /* 25% of parent */
}

.margin {
  margin: 2%;
}

body {
  background-color: black !important;
  color: white !important;
  margin: 0px !important;
  padding: 0px !important;
}

.main {
  text-align: center;
  font-family: 'Courier';
  font-size: 22px;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.black {
  color: black;
}

.white {
  color: white;
}

.bg-red {
  background-color: red;
}

.bg-green {
  background-color: green;
}

.bg-blue {
  background-color: blue;
}

.bg-magenta {
  background-color: magenta;
}

.bg-cyan {
  background-color: cyan;
}

.bg-yellow {
  background-color: yellow;
}

.bg-white {
  background-color: white;
}

.red {
  color: red;
}

.green {
  color: green;
}

.blue {
  color: blue;
}

.magenta {
  color: magenta;
}

.cyan {
  color: cyan;
}

.yellow {
  color: yellow;
}

.flex {
  display: flex;
}

.flex-one {
  flex: 1;
}

.flex-two {
  flex: 2;
}

.flex-three {
  flex: 3;
}

.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
}

.checkmark_circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: green;
  border-radius: 11px;
  left: 0;
  top: 0;
}

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px;
}

.checkmark_kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px;
}

.dot {
  margin: 10px;
}

.button {
  border: 1px solid white;
  width: 50%;
  margin: 100px auto;
  background-color: darkslategrey;
}

.button:hover {
  cursor: pointer;
  font-weight: bold;
}

.selected {
  border: 2px solid darkgray;
  font-weight: bold;
  color: darkgray;
}

.italic {
  font-style: italic;
}

.text-center {
  text-align: center;
}

.border {
  border: 1px solid white;
}

.bg-orange {
  background-color: orange;
}

.bg-violet {
  background-color: violet;
}

.violet {
  color: violet;
}

.purple {
  color: purple;
}

.power {
  color: orange;
}

.orange {
  color: orange;
}

.up {
  color: blue;
}

.down {
  color: yellow;
}

.left {
  color: green;
}

.right {
  color: red;
}

.tile {
  border: 1px solid purple;
  min-height: 100px;
}

.tile:hover {
  cursor: pointer;
}

.code {
  font-size: 40px;
}

.button-digit:hover {
  cursor: pointer;
}

.button-digit {
  border: 1px solid white;
  padding: 2px;
}

.square {
  border: 1px solid white;
}

.square-pos {
  background-color: white;
  font-weight: bold;
  color: black;
}

.mini-button {
  border: 1px solid white;
  padding: 1%;
  background-color: darkgrey;
}

.mini-button:hover {
  cursor: pointer;
  font-weight: bold;
}

.margin-bottom {
  margin-bottom: 2%;
}

.room {
  width: 75%;
  margin: auto;
  min-height: 100px;
  border: 1px solid white;
  align-items: center;
}

.chest {
  border: 1px solid white;
  background-color: brown;
  margin: 2%;
}

.hexa {
  border: 1px solid white;
  background-color: #FACADE;
  color: black;
  margin: 10%;
}

.bedbad {
  color: #bedbad;
}

.daddad {
  color: #daddad;
}

.dabbed {
  color: #dabbed;
}

.bacfed {
  color: #bacfed
}

.facade {
  color: #facade;
}

.decade {
  color: #decade
}

.chest:hover {
  cursor: pointer;
  font-weight: bold;
}
